swagger: '2.0'
info:
  version:  V1.1.0.0
  title: NETC Vehicle Mapping API
  description: Swagger model for NETC Vehicle Mapping API
  contact:
    name: anupam
    email: anupam.v@paynext.co.in
    url: http://champishere.com
  termsOfService: TOS
  license: 
    name: Paynext pvt Ltd
    url: http://paynext.co.in
host: europa-sandbox.perseuspay.com 
basePath: /netcapi/v1
schemes:
  - http
  - https
tags: 
  - name: NETC Vehicle Mapping API
consumes:     
  - application/json
produces:   
  - application/json
paths:
  /netc/getfare:
    post:
      tags:
        - NETC Vehicle Mapping API
      summary: Get vehicle fare
      description: Calculation of fare wrt their vehicle classes
      operationId: netc.getfare
      produces: 
        - application/json
      parameters:
        - in: header
          name: apikey
          description: API Key for Authorization
          required: false
          type: string
        - in: body
          name: getrequest
          description: The JSON you want to get fare amount
          required: true
          schema:
            $ref: "#/definitions/NETCFareRequestEntity"
      responses: 
        '200':
          description: OK
          schema:
            $ref: '#/definitions/NETCFareResponseEntity'
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '403':
          description: Forbidden  
        '404':
          description: Not Found
        '415':
          description: Invalid Format
        '422':
          description: Incorrect Request
        '500':
          description: Server Error
        '503':
          description: Service Unavailable
      deprecated: false
      
definitions:
  NETCFareResponseEntity:
    type: object
    properties:
      fare_amount:
        type: integer
        example: 100
  NETCFareRequestEntity:
    type: object
    properties:
      toll_id:
        type: string
        example: '120001'
      vehicle_type:
        type: string
        example: 'LCV'
      journey_type:
        type: string
        example: 'return'

